NEXT_PUBLIC_BACKEND_URL = "http://localhost:3000"
AUTH_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
DIRECT_DATABASE_URL=""
DATABASE_URL=""
SUPABASE_API_KEY=""
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""